AWSTemplateFormatVersion: '2010-09-09'
Description: 'CloudFormation template to create an ECR repository with scan on push enabled'

Resources:
  ECRRepository:
    Type: 'AWS::ECR::Repository'
    Properties:
      RepositoryName: !Sub '${AWS::StackName}-repository'
      ImageScanningConfiguration:
        ScanOnPush: true
      ImageTagMutability: MUTABLE
      EncryptionConfiguration:
        EncryptionType: AES256

Outputs:
  RepositoryURI:
    Description: The URI of the created ECR Repository
    Value: !GetAtt ECRRepository.RepositoryUri
