AWSTemplateFormatVersion: '2010-09-09'
Description: 'ECR repository with scan on push enabled'

Parameters:
  RepositoryName:
    Type: String
    Default: "lunch-and-learn-repo"

Resources:
  ECRRepository:
    Type: 'AWS::ECR::Repository'
    Properties:
      RepositoryName: !Ref RepositoryName
      ImageScanningConfiguration:
        ScanOnPush: true
      ImageTagMutability: MUTABLE
      EncryptionConfiguration:
        EncryptionType: AES256

Outputs:
  RepositoryURI:
    Value: !GetAtt ECRRepository.RepositoryUri
