AWSTemplateFormatVersion: '2010-09-09'
Description: 'Enable ECR ScanOnPush via API'

Resources:
  EnableScanOnPush:
    Type: 'AWS::SSM::Document'
    Properties:
      DocumentType: 'Automation'
      Content:
        schemaVersion: '0.3'
        description: 'Enable ECR ScanOnPush'
        assumeRole: '{{AutomationAssumeRole}}'
        mainSteps:
        - name: EnableScanning
          action: 'aws:executeAwsApi'
          inputs:
            Service: ecr
            Api: PutImageScanningConfiguration
            RepositoryName: 'lunch-and-learn-repo'
            ImageScanningConfiguration:
              scanOnPush: true
          outputs:
          - Name: ScanningConfig
            Selector: '.'
            Extract: true
