AWSTemplateFormatVersion: '2010-09-09'
Description: 'ECR ScanOnPush remediation'

Resources:
  EnableECRScan:
    Type: AWS::SSM::Document
    Properties:
      DocumentType: Automation
      Content:
        schemaVersion: '0.3'
        description: 'Enable ECR ScanOnPush'
        mainSteps:
        - name: EnableScanOnPush
          action: aws:executeAwsApi
          inputs:
            Service: ecr
            Api: PutImageScanningConfiguration
            RepositoryName: lunch-and-learn-repo
            ImageScanningConfiguration:
              scanOnPush: true
