AWSTemplateFormatVersion: '2010-09-09'
Description: 'S3 bucket with server access logging enabled'

Resources:
  LoggingBucket:
    Type: AWS::S3::Bucket
    Properties:
      AccessControl: LogDeliveryWrite
      VersioningConfiguration:
        Status: Enabled

  TargetBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: target-bucket
      LoggingConfiguration:
        DestinationBucketName: !Ref LoggingBucket
        LogFilePrefix: target-bucket-logs/

Outputs:
  TargetBucketName:
    Description: Name of the target S3 bucket
    Value: !Ref TargetBucket
  LoggingBucketName:
    Description: Name of the S3 bucket for access logs
    Value: !Ref LoggingBucket