
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Creates a Lifecycle configuration for the S3 bucket to define actions for object management over time, such as transitioning objects to another storage class or deleting them after a specified period.'
Parameters:
  TargetResource:
    Type: String
Resources:
  AutoRemediation:
    Type: 'AWS::SSM::Document'
    Properties:
      DocumentType: 'Automation'
      Content:
        schemaVersion: '0.3'
        mainSteps:
          - name: 'ExecuteRemediation'
            action: 'aws:executeAwsApi'
            inputs:
              Service: s3
              Api: PutBucketLifecycleConfiguration
              TargetResource: '{{TargetResource}}'
