AWSTemplateFormatVersion: '2010-09-09'
Description: 'Remediate AWS KMS keys should not be deleted unintentionally'
Resources:
  Remediation:
    Type: 'AWS::SSM::Document'
    Properties:
      DocumentType: 'Automation'
      Content:
        schemaVersion: '0.3'
        description: 'Fix AWS-KMS-keys-should-not-be-deleted-unint'
        mainSteps:
        - name: 'Remediate'
          action: 'aws:executeScript'
          inputs:
            Runtime: python3.10
            Handler: handle
            Script: |
              def handle(events, context):
                print("Remediation template deployed for AWS-KMS-keys-should-not-be-deleted-unint")
                return {'status': 'success'}