AWSTemplateFormatVersion: '2010-09-09'
Description: 'Remediate CloudFormation stacks should have termination protection enabled'
Resources:
  Remediation:
    Type: 'AWS::SSM::Document'
    Properties:
      DocumentType: 'Automation'
      Content:
        schemaVersion: '0.3'
        description: 'Fix CloudFormation-stacks-should-have-termin'
        mainSteps:
        - name: 'Remediate'
          action: 'aws:executeScript'
          inputs:
            Runtime: python3.10
            Handler: handle
            Script: |
              def handle(events, context):
                print("Remediation template deployed for CloudFormation-stacks-should-have-termin")
                return {'status': 'success'}