AWSTemplateFormatVersion: '2010-09-09'
Description: 'Fallback for EC2 instances should not have a public IP address associated with them'
Resources:
  RemediationDocument:
    Type: 'AWS::SSM::Document'
    Properties:
      Content:
        schemaVersion: '0.3'
        mainSteps:
        - name: ready
          action: 'aws:executeScript'
          inputs:
            Runtime: python3.10
            Handler: handle
            Script: |
              def handle(events, context):
                return {'status': 'success'}
      DocumentFormat: YAML
      DocumentType: Automation
      Name: 'AutoRemediate-EC2-instances-should-not-have-a-public-I'