AWSTemplateFormatVersion: '2010-09-09'
Description: 'Remediate S3_bucket_policy_changes'
Resources:
  Remediation:
    Type: 'AWS::SSM::Document'
    Properties:
      DocumentType: 'Automation'
      Content:
        schemaVersion: '0.3'
        description: 'Fix S3_bucket_policy_changes'
        mainSteps:
        - name: 'Remediate'
          action: 'aws:executeAwsApi'
          inputs:
            Service: cloudtrail
            Api: PutMetricFilter
            filterName: 'S3_bucket_policy_changes'
            filterPattern: '{ $.eventSource == "config.amazonaws.com" }'
            logGroupName: '/aws/cloudtrail'
            metricTransformations:
            - metricNamespace: 'CloudTrailMetrics'
              metricName: 'S3_bucket_policy_changes'
              metricValue: '1'
              metricType: 'Count'