AWSTemplateFormatVersion: '2010-09-09'
Description: 'Remediate S3_general_purpose_buckets_should_have_Lifecycle_configurations'
Resources:
  Remediation:
    Type: 'AWS::SSM::Document'
    Properties:
      DocumentType: 'Automation'
      Content:
        schemaVersion: '0.3'
        description: 'Fix S3_general_purpose_buckets_should_have_Lifecycle_configurations'
        mainSteps:
        - name: 'Remediate'
          action: 'aws:executeAwsApi'
          inputs:
            Service: cloudwatchlogs
            Api: PutMetricFilter
            logGroupName: '/aws/cloudtrail'
            filterName: 'S3_general_purpose_buckets_should_have_Lifecycle_configurations'
            filterPattern: '{ $.eventSource == "s3.amazonaws.com" && $.eventName == "PutBucketPolicy" }'
            metricTransformations:
            - metricName: 'S3_general_purpose_buckets_should_have_Lifecycle_configurations'
              metricNamespace: 'SecurityHubRemediation'
              metricValue: '1'
              metricType: 'Count'